{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h2>Выберите инструмент для анализа:</h2>
    <div class="buttons">
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit" name="instrument" value="AAPL">Apple</button>
            <button type="submit" name="instrument" value="GOOGL">Google</button>
            <button type="submit" name="instrument" value="TSLA">Tesla</button>
        </form>
        {% if plot_url %}
            <h3>График цены:</h3>
            <img src="{% static plot_url|slice:'7:' %}" alt="Stock Chart">
        {% endif %}
    

    </div>

    {% if result %}
        <div class="result">
            <p>Результат анализа: {{ result }}</p>
        </div>
    {% endif %}
{% endblock %}
