body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff8800;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #005fa3;
}

footer {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}
