body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D2959;
    color: #C3A839;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #C3A839;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 2rem;
    color:#C3A839 ;
    text-align: center;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #005fa3;
}

footer {
    background-color: #9eb8eb;
    padding: 1rem;
    text-align: center;
    margin-top: 10rem;
}
